In [1]:
!pip install --upgrade scikit-learn==1.0.2
!pip install --upgrade numpy==1.21.5
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn==1.0.2 in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting numpy==1.21.5
  Downloading numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 1.4 MB/s
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
Successfully installed numpy-1.21.5

In [2]:
!wget https://raw.githubusercontent.com/kaopanboonyuen/Python-Data-Science/master/Dataset/hed2020_dataset.csv

--2022-09-16 11:01:07--  https://raw.githubusercontent.com/kaopanboonyuen/Python-Data-Science/master/Dataset/hed2020_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 352588 (344K) [text/plain]
Saving to: ‘hed2020_dataset.csv’

hed2020_dataset.csv 100%[===================>] 344.32K  --.-KB/s    in 0.04s

2022-09-16 11:01:07 (8.03 MB/s) - ‘hed2020_dataset.csv’ saved [352588/352588]

In [3]:
df = pd.read_csv('hed2020_dataset.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5824 non-null   int64
 1   label                        5764 non-null   object
 2   cap-shape                    5824 non-null   object
 3   cap-surface                  5797 non-null   object
 4   bruises                      5725 non-null   object
 5   odor                         5725 non-null   object
 6   gill-attachment              5725 non-null   object
 7   gill-spacing                 5694 non-null   object
 8   gill-size                    5703 non-null   object
 9   stalk-shape                  5703 non-null   object
 10  stalk-root                   5793 non-null   object
 11  stalk-surface-above-ring     5793 non-null   object
 12  stalk-surface-below-ring     5793 non-null   object
 13  veil-type                    5762 non-null   object
 14  ring-number                  5762 non-null   object
 15  ring-type                    5762 non-null   object
 16  spore-print-color            5768 non-null   object
 17  population                   5768 non-null   object
 18  habitat                      5793 non-null   object
 19  cap-color-rate               5797 non-null   float64
 20  gill-color-rate              5703 non-null   float64
 21  veil-color-rate              5762 non-null   float64
 22  stalk-color-above-ring-rate  5793 non-null   float64
 23  stalk-color-below-ring-rate  5762 non-null   float64
dtypes: float64(5), int64(1), object(18)
memory usage: 1.1+ MB

In [5]:
df.shape

(5824, 24)

In [6]:
#Answer 1
df['gill-size'].isna().sum()

121

In [7]:
df.isna().sum()

id                               0
label                           60
cap-shape                        0
cap-surface                     27
bruises                         99
odor                            99
gill-attachment                 99
gill-spacing                   130
gill-size                      121
stalk-shape                    121
stalk-root                      31
stalk-surface-above-ring        31
stalk-surface-below-ring        31
veil-type                       62
ring-number                     62
ring-type                       62
spore-print-color               56
population                      56
habitat                         31
cap-color-rate                  27
gill-color-rate                121
veil-color-rate                 62
stalk-color-above-ring-rate     31
stalk-color-below-ring-rate     62
dtype: int64

In [8]:
df.dropna(subset=['label'],inplace=True)

In [9]:
df.shape

(5764, 24)

In [10]:
cols_drop = ['gill-attachment', 'gill-spacing', 'gill-size','gill-color-rate','stalk-root', 'stalk-surface-above-ring', 
             'stalk-surface-below-ring', 'stalk-color-above-ring-rate','stalk-color-below-ring-rate','veil-color-rate','veil-type']
df = df.drop(columns=cols_drop)

In [11]:
#Answer 2
df.shape

(5764, 13)

In [12]:
df['label'].value_counts()

p    3660
e    2104
Name: label, dtype: int64

In [13]:
result_sum_na = df.isna().sum()

In [14]:
for key,value in (result_sum_na.items()):
  if value==0:
    None
  else:
    print(df["{}".format(key)].value_counts())

y    2492
s    1749
f    1492
g       4
Name: cap-surface, dtype: int64
f    3843
t    1822
Name: bruises, dtype: int64
n    2178
f    2107
s     570
y     569
c     189
m      36
p       7
a       6
l       3
Name: odor, dtype: int64
t    3225
e    2418
Name: stalk-shape, dtype: int64
o    5072
t     595
n      35
Name: ring-number, dtype: int64
p    2324
e    2013
l    1282
f      48
n      35
Name: ring-type, dtype: int64
w    2380
h    1612
n     778
k     724
r      70
o      48
y      48
b      48
Name: spore-print-color, dtype: int64
v    3491
y    1330
s     398
c     336
n     149
a       4
Name: population, dtype: int64
d    2555
p    1047
g     919
l     832
w     192
u     147
m      41
Name: habitat, dtype: int64
1.0     1558
5.0     1381
4.0     1380
2.0      673
3.0      367
7.0      164
6.0      138
9.0       44
8.0       16
10.0      16
Name: cap-color-rate, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5764 entries, 0 to 5823
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5764 non-null   int64
 1   label              5764 non-null   object
 2   cap-shape          5764 non-null   object
 3   cap-surface        5737 non-null   object
 4   bruises            5665 non-null   object
 5   odor               5665 non-null   object
 6   stalk-shape        5643 non-null   object
 7   ring-number        5702 non-null   object
 8   ring-type          5702 non-null   object
 9   spore-print-color  5708 non-null   object
 10  population         5708 non-null   object
 11  habitat            5733 non-null   object
 12  cap-color-rate     5737 non-null   float64
dtypes: float64(1), int64(1), object(11)
memory usage: 630.4+ KB

In [16]:
df.isna().sum()

id                     0
label                  0
cap-shape              0
cap-surface           27
bruises               99
odor                  99
stalk-shape          121
ring-number           62
ring-type             62
spore-print-color     56
population            56
habitat               31
cap-color-rate        27
dtype: int64

In [17]:
df.fillna(df.mean(),inplace=True)
df.isna().sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

id                     0
label                  0
cap-shape              0
cap-surface           27
bruises               99
odor                  99
stalk-shape          121
ring-number           62
ring-type             62
spore-print-color     56
population            56
habitat               31
cap-color-rate         0
dtype: int64

In [18]:
df.fillna(df.mode().iloc[0],inplace=True)

In [19]:
df.isna().sum()

id                   0
label                0
cap-shape            0
cap-surface          0
bruises              0
odor                 0
stalk-shape          0
ring-number          0
ring-type            0
spore-print-color    0
population           0
habitat              0
cap-color-rate       0
dtype: int64

In [20]:
df['label'].value_counts()

p    3660
e    2104
Name: label, dtype: int64

In [21]:
df['label'] = df['label'].replace({'e':1,'p':0})

In [22]:
#Answer 3
df['label'].value_counts()

0    3660
1    2104
Name: label, dtype: int64

In [23]:
df.head()

,id,label,cap-shape,cap-surface,bruises,odor,stalk-shape,ring-number,ring-type,spore-print-color,population,habitat,cap-color-rate
0,1,0,x,s,t,p,e,o,p,k,s,u,1.0
1,2,1,x,s,t,a,e,o,p,n,n,g,2.0
2,3,1,b,s,t,l,e,o,p,n,n,m,3.0
3,4,0,x,y,t,p,e,o,p,k,s,u,3.0
4,5,1,x,s,f,n,t,o,e,n,a,g,4.0

In [24]:
cols_df =  cols_df = df.columns.to_list()
for i in ['label','id','cap-color-rate']:
  cols_df.remove(i)
nominal_columns = cols_df

In [25]:
nominal_columns

['cap-shape',
 'cap-surface',
 'bruises',
 'odor',
 'stalk-shape',
 'ring-number',
 'ring-type',
 'spore-print-color',
 'population',
 'habitat']

In [26]:
# cols_df =  cols_df = df.columns.to_list()
# for i in ['label','id']:
#   cols_df.remove(i)
# nominal_columns = cols_df
dummy_df = pd.get_dummies(df[nominal_columns], drop_first=True) 
df_with_dummy = pd.concat([df, dummy_df], axis=1)
df_with_dummy = df_with_dummy.drop(nominal_columns, axis=1)
print(df_with_dummy.shape)

(5764, 44)

In [27]:
df_with_dummy.head()

,id,label,cap-color-rate,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_x,cap-surface_g,cap-surface_s,cap-surface_y,...,population_n,population_s,population_v,population_y,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,1,0,1.0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
1,2,1,2.0,0,0,0,1,0,1,0,...,1,0,0,0,1,0,0,0,0,0
2,3,1,3.0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,4,0,3.0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,5,1,4.0,0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [28]:
dummy_df

,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_x,cap-surface_g,cap-surface_s,cap-surface_y,bruises_t,odor_c,odor_f,...,population_n,population_s,population_v,population_y,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,0,0,0,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
1,0,0,0,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
3,0,0,0,1,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5820,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5821,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5822,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5823,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [29]:
target_col = 'label'

In [30]:
from sklearn.model_selection import train_test_split
df_with_dummy = df_with_dummy.drop(columns=['id'])
feature_col = []
for i in df_with_dummy.columns:
  if i not in['label']:
    feature_col.append(i)
X = df_with_dummy[feature_col]
y = df_with_dummy['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.20, random_state=2020)

In [31]:
X_train

,cap-color-rate,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_x,cap-surface_g,cap-surface_s,cap-surface_y,bruises_t,odor_c,...,population_n,population_s,population_v,population_y,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
3526,5.0,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1214,5.0,0,1,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
1841,5.0,0,1,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
5548,1.0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3379,1.0,0,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2647,4.0,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
5265,5.0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
5015,3.0,0,0,0,1,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
356,5.0,0,0,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2942,2.0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [32]:
#Answer 4 
print(X_train.shape)
print(X_test.shape)

(4611, 42)
(1153, 42)

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [34]:
grid_search = GridSearchCV(
    estimator= RandomForestClassifier(),
    param_grid=dict(
        min_samples_leaf=[2,5,10],
        max_depth = [2,3,6],
        criterion=['gini', 'entropy'],
        n_estimators=[100,200],
        random_state = [2020]
    ),
    scoring='f1_macro',
    cv=5,
    n_jobs=-1 # Parallel
)

In [35]:


grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 6], 'min_samples_leaf': [2, 5, 10],
                         'n_estimators': [100, 200], 'random_state': [2020]},
             scoring='f1_macro')

In [36]:
grid_search_result = grid_search.cv_results_
pd.DataFrame.from_dict(grid_search_result)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_min_samples_leaf,param_n_estimators,param_random_state,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.390099,0.081443,0.033939,0.002521,gini,2,2,100,2020,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.959854,0.959053,0.968491,0.956602,0.949819,0.958764,0.006010,26
1,0.652325,0.011599,0.064498,0.003713,gini,2,2,200,2020,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.961166,0.956874,0.969677,0.956658,0.948684,0.958612,0.006846,28
2,0.498417,0.110358,0.068675,0.022396,gini,2,5,100,2020,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.959854,0.959053,0.968491,0.956602,0.949819,0.958764,0.006010,26
3,1.127901,0.210578,0.124557,0.031600,gini,2,5,200,2020,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.959962,0.955681,0.968491,0.956658,0.948684,0.957895,0.006447,32
4,0.671704,0.116586,0.057179,0.013136,gini,2,10,100,2020,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.959854,0.959053,0.968491,0.957748,0.949819,0.958993,0.005944,25
5,1.267160,0.143169,0.128591,0.019147,gini,2,10,200,2020,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.959962,0.954543,0.968491,0.956658,0.948684,0.957668,0.006541,34
6,0.573089,0.081017,0.065515,0.019355,gini,3,2,100,2020,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",0.978968,0.968644,0.972044,0.973289,0.955843,0.969758,0.007712,14
7,1.237402,0.132427,0.125123,0.005783,gini,3,2,200,2020,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",0.976718,0.966361,0.973257,0.969823,0.956979,0.968628,0.006770,17
8,0.701978,0.089631,0.065911,0.008523,gini,3,5,100,2020,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",0.977785,0.968644,0.972044,0.974405,0.955843,0.969744,0.007565,15
9,1.255069,0.140908,0.128307,0.026876,gini,3,5,200,2020,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",0.976718,0.964041,0.970897,0.967463,0.957031,0.967230,0.006599,22
10,0.676667,0.112819,0.046919,0.016020,gini,3,10,100,2020,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",0.977785,0.967502,0.970897,0.966199,0.955843,0.967645,0.007139,21
11,1.131889,0.406804,0.107142,0.050173,gini,3,10,200,2020,"{'criterion': 'gini', 'max_depth': 3, 'min_sam...",0.975569,0.962903,0.969714,0.966321,0.958167,0.966535,0.005916,24
12,0.378169,0.009432,0.036241,0.000708,gini,6,2,100,2020,"{'criterion': 'gini', 'max_depth': 6, 'min_sam...",0.995326,0.992985,0.998832,0.992985,0.987131,0.993452,0.003817,1
13,0.749048,0.015465,0.070143,0.006885,gini,6,2,200,2020,"{'criterion': 'gini', 'max_depth': 6, 'min_sam...",0.997663,0.994158,0.994172,0.992985,0.985970,0.992990,0.003844,2
14,0.392860,0.015789,0.038994,0.002012,gini,6,5,100,2020,"{'criterion': 'gini', 'max_depth': 6, 'min_sam...",0.989504,0.991811,0.990635,0.987147,0.987147,0.989249,0.001865,8
15,0.715258,0.011526,0.069438,0.004204,gini,6,5,200,2020,"{'criterion': 'gini', 'max_depth': 6, 'min_sam...",0.993015,0.991821,0.989471,0.987147,0.988308,0.989952,0.002176,6
16,0.364404,0.013930,0.036385,0.000540,gini,6,10,100,2020,"{'criterion': 'gini', 'max_depth': 6, 'min_sam...",0.988345,0.987163,0.987179,0.985987,0.987131,0.987161,0.000746,11
17,0.725540,0.014566,0.067257,0.001756,gini,6,10,200,2020,"{'criterion': 'gini', 'max_depth': 6, 'min_sam...",0.991846,0.989497,0.987179,0.984829,0.990658,0.988802,0.002515,9
18,0.323066,0.014798,0.034317,0.001644,entropy,2,2,100,2020,"{'criterion': 'entropy', 'max_depth': 2, 'min_...",0.961061,0.959053,0.967344,0.954256,0.948684,0.958080,0.006302,29
19,0.635912,0.008758,0.062083,0.002581,entropy,2,2,200,2020,"{'criterion': 'entropy', 'max_depth': 2, 'min_...",0.963567,0.955736,0.966199,0.954373,0.948684,0.957712,0.006370,33
20,0.328387,0.006023,0.034489,0.002880,entropy,2,5,100,2020,"{'criterion': 'entropy', 'max_depth': 2, 'min_...",0.961061,0.959053,0.967344,0.954256,0.948684,0.958080,0.006302,29
21,0.635591,0.014050,0.060254,0.001728,entropy,2,5,200,2020,"{'criterion': 'entropy', 'max_depth': 2, 'min_...",0.962367,0.954543,0.966199,0.954373,0.948684,0.957233,0.006249,35
22,0.318998,0.011329,0.032826,0.000710,entropy,2,10,100,2020,"{'criterion': 'entropy', 'max_depth': 2, 'min_...",0.961061,0.959053,0.967344,0.954256,0.948684,0.958080,0.006302,29
23,0.629961,0.002891,0.061002,0.000815,entropy,2,10,200,2020,"{'criterion': 'entropy', 'max_depth': 2, 'min_...",0.962367,0.954543,0.966199,0.954373,0.948684,0.957233,0.006249,35
24,0.339777,0.010298,0.036375,0.003449,entropy,3,2,100,2020,"{'criterion': 'entropy', 'max_depth': 3, 'min_...",0.973176,0.967502,0.972044,0.975698,0.955843,0.968852,0.007026,16
25,0.677635,0.009361,0.062573,0.000349,entropy,3,2,200,2020,"{'criterion': 'entropy', 'max_depth': 3, 'min_...",0.976718,0.971102,0.972111,0.973414,0.956979,0.970065,0.006811,13
26,0.345130,0.009363,0.036797,0.003161,entropy,3,5,100,2020,"{'criterion': 'entropy', 'max_depth': 3, 'min_...",0.973176,0.967502,0.970897,0.973414,0.955843,0.968166,0.006518,19
27,0.681279,0.009548,0.064507,0.001391,entropy,3,5,200,2020,"{'criterion': 'entropy', 'max_depth': 3, 'min_...",0.975569,0.966440,0.969823,0.969894,0.956979,0.967741,0.006128,20
28,0.349781,0.011138,0.034375,0.000779,entropy,3,10,100,2020,"{'criterion': 'entropy', 'max_depth': 3, 'min_...",0.973176,0.966361,0.970897,0.974555,0.955843,0.968166,0.006760,18
29,0.679557,0.007982,0.062107,0.000597,entropy,3,10,200,2020,"{'criterion': 'entropy', 'max_depth': 3, 'min_...",0.975569,0.965263,0.967463,0.967540,0.956979,0.966563,0.005940,23
30,0.358759,0.004995,0.043869,0.012184,entropy,6,2,100,2020,"{'criterion': 'entropy', 'max_depth': 6, 'min_...",0.993015,0.992985,0.995335,0.991831,0.989471,0.992527,0.001906,3
31,0.724512,0.020285,0.069906,0.003238,entropy,6,2,200,2020,"{'criterion': 'entropy', 'max_depth': 6, 'min_...",0.995338,0.994158,0.991851,0.988323,0.989497,0.991833,0.002663,4
32,0.386594,0.007177,0.036313,0.001062,entropy,6,5,100,2020,"{'criterion': 'entropy', 'max_depth': 6, 'min_...",0.991856,0.991811,0.991821,0.984829,0.989497,0.989963,0.002721,5
33,0.730330,0.005615,0.066601,0.001716,entropy,6,5,200,2020,"{'criterion': 'entropy', 'max_depth': 6, 'min_...",0.990687,0.991821,0.988337,0.985987,0.989497,0.989266,0.002011,7
34,0.374071,0.006545,0.039831,0.002374,entropy,6,10,100,2020,"{'criterion': 'entropy', 'max_depth': 6, 'min_...",0.987218,0.983712,0.987179,0.985987,0.991821,0.987183,0.002645,10
35,0.680191,0.094343,0.063050,0.010303,entropy,6,10,200,2020,"{'criterion': 'entropy', 'max_depth': 6, 'min_...",0.988373,0.983712,0.983712,0.984829,0.990658,0.986257,0.002787,12

In [37]:
#Answer 5
grid_search.best_params_

{'criterion': 'gini',
 'max_depth': 6,
 'min_samples_leaf': 2,
 'n_estimators': 100,
 'random_state': 2020}

In [38]:
my_model = grid_search.best_estimator_

In [39]:
my_model

RandomForestClassifier(max_depth=6, min_samples_leaf=2, random_state=2020)

In [40]:
import pickle
filename = 'model.sav'
pickle.dump(my_model, open(filename, 'wb'))

In [41]:
open_model = pickle.load(open(filename,'rb'))
open_model

RandomForestClassifier(max_depth=6, min_samples_leaf=2, random_state=2020)

In [42]:
predictions = open_model.predict(X_test)

In [43]:
#Answer 6
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test, predictions , digits=4))

              precision    recall  f1-score   support

           0     0.9932    0.9986    0.9959       732
           1     0.9976    0.9881    0.9928       421

    accuracy                         0.9948      1153
   macro avg     0.9954    0.9934    0.9944      1153
weighted avg     0.9948    0.9948    0.9948      1153

In [44]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, predictions, labels=[0, 1])

array([[731,   1],
       [  5, 416]])